<html>
  <head>
  <title>Edit un potin</title>
  </head>

  <body>
    <h1>Edit un potin !</h1>
    <p>Edit ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/edit/' method='POST'>
      Edit ici ton nom : <input type='text' name='gossip_author'/><br/>
      Edit ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
